<style>
  main {}


  div[anvil-slot="plot"] {
    display: flex;
    justify-content: center;
    width: 100% !important;
    max-width: 100% !important;

  }

  div[anvil-slot="plot"] * {
    /*
    box-sizing: border-box;
    max-width: 100% !important;
    */
  }

  div.anvil-plot {

    [XXX] {}

    box-sizing: border-box;
    max-width: 100% !important;

    .main-svg,
    .modebar-group {
      background-color: transparent !important;
    }

    .legend .bg {
      fill: transparent !important;
    }

    .modebar button svg path {
      fill: var(--bs-gray-600) !important;
    }

    .modebar:hover button svg path {
      fill: var(--bs-light) !important;
    }

    .gridlayer :is(.xgrid, .ygrid) {
      stroke-opacity: 0.2 !important;
    }

    .zerolinelayer :is(.yzl, .xzl) {
      stroke-opacity: 0.6 !important;
      stroke: var(--bs-light) !important;
    }

  }
</style>


<main anvil-slot="default">
  <h1>Thing</h1>
  <p>{{ding}}</p>
  <div anvil-slot="plot"></div>
</main>