---
await use("@/bootstrap/");
const { component } = await use("@/rollo/");

---


<style>
  div.anvil-component[about] {
    margin-top: 1rem;

    h1 {
      color: var(--bs-success);
    }
  }
</style>

<h1>This is the about page</h1>
