<frame-component anvil-slot="default"></frame-component>

<script type="module">
  // Register frame component
  await use('@/frame/');

  const app = document.getElementById('app');
  const frame = document.getElementById('frame');


  const { component } = await use('@/rollo/');
  const { server } = await use("@/server");

  /* Setup routes */

  function setup() {

  }


  app.send('_handshake', {
    detail: { frame, setup }
  });


  const login = await use('@@/login/');
  login();



</script>