@import "tailwindcss";

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}

/** Remove spinner from number inputs */
/* General reset */
input[type="number"] {
  appearance: none;
  box-sizing: border-box;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* legacy/ESR safety */
}
/* Chromium + Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* avoids old layout quirks */
}

iframe[name="iworker"] {
  width: 100%;
  height: 100vh;
  border: none;
}

iframe[name="iworker"][state-undisplay] {
  /*display: none;*/
  height: 0;
}
