/* Base for iworker (iframe) */
#iworker {
  /* Enable control from JS via vars */
  height: var(--height, 0);
  position: var(--position, static);
  top: var(--top, 0);
  width: var(--width, 100%);
  /* Vanilla items */
  border: none;
  padding: 0;
  margin: 0;
}

@supports (anchor-name: --test) {
  /* Anchor frame (layout component) when iworker shown as overlay */
  #frame:has(#iworker[over]) {
    anchor-name: --frame;
  }

  /* Iworker as overlay (popover) */
  #iworker[over] {
    --height: anchor-size(height);
    --position: fixed;
    --top: anchor(top);
    position-anchor: var(--ancor, --frame);
    left: var(--left, anchor(left));
  }

  /* Mode transition*/
  #iworker[over]:popover-open {
    opacity: 1;
    @starting-style {
      opacity: 0;
      transform: scale(0.95);
    }
  }
}
