#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-body-bg);
}

header {
  --gap: 0.375rem;
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  background-color: var(--bs-primary);
  padding: var(--gap) 1rem;
}

header button {
  display: flex;
  background-color: transparent;
  border: none;
}

header button svg {
  --size: 2.4rem;
  width: var(--size);
  height: var(--size);
  fill: var(--bs-light);
}

header button:hover svg {
  fill: var(--bs-gray-300);
}

section:has(> slot[name="top"]) {
  margin-left: auto;
}

section.main > section.side {
  position: absolute;
  top: 0;
  bottom: 0;
  width: min(var(--width), 100%);
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform var(--time) var(--easing);
  background-color: var(--bs-body-bg);
  opacity: 0.99;
  padding: 0.5rem 0;
  border-right: 1px solid var(--bs-border-color-translucent);
  z-index: 100;
  overflow-y: auto;
}

:host(:not([open])) section.main > section.side {
  /* Overlay-style side action. */
  transform: translateX(-100%);
}

/* Close button */
section.main > section.side button {
  margin-left: auto;
  display: flex;
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  margin-right: 0.25rem;
}
section.main > section.side button svg {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  fill: var(--bs-light);
}
section.main > section.side button:hover svg {
  fill: var(--bs-gray-500);
}

section.main > main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  background-color: transparent;
}

footer {
  min-height: 100px;
  display: flex;
  padding: 0.375rem 1rem;
  background-color: var(--bs-light-bg-subtle);
  border-top: 1px solid var(--bs-border-color-translucent);
  margin-top: auto !important;
}

@media (width >= 768px) {
  /* Shift-style side action. */

  section.main {
    position: relative;
    /* Push down to footer */
    flex-grow: 1;
  }

  section.main > section.side {
    height: 100%;
  }
  section.main > main {
    transform: translateX(calc(1 * var(--width)));
    transition: transform var(--time) var(--easing);
  }
  :host(:not([open])) section.main > main {
    transform: translateX(0);
  }
}
