.blog > .card .nav-link {
  cursor: pointer;
}
.blog > .card .nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.blog > .card > .card-footer {
  min-height: 2rem !important;
}
.blog > [post] :is(h1, h2, h3, h4, h5, h6) {
  color: var(--bs-link-color);
}
.blog > [post] a:hover {
  text-decoration: underline;
}
@media (width>=768px) {
  .blog > [post] a {
    font-size: 1.125rem;
  }
}
.blog > [post] p:has(> img) {
  display: flex;
  justify-content: center;
}
.blog > [post] img {
  min-width: 80%;
}
