<frame-component>
  <a class="nav-link" slot="home">
    <img src="/_/theme/favicon.svg" alt="Home" />
  </a>
  <main anvil-slot="default" class="container mt-3"></main>
</frame-component>

<!--:TODO Move to theme.css or main.css once done testing. -->
<style>
  frame-component {
    nav.nav[slot="side"] {
      a.nav-link.disabled {
        color: var(--bs-link-color);
        font-weight: 600;
      }
    }
  }
</style>