<frame-component anvil-slot="default"></frame-component>

<script type="module">
  
  const { component, is } = await use('@/rollo/');
  const { server } = await use("@/server");

  console.log("Injected start.jinja...")

  const app = document.getElementById('app');
  const frame = document.getElementById('frame');





  const thing = await use('@@/thing/', { test: true });
  thing()



</script>