<div class="card h-full">
  <img class="card-img-top" src="{{image}}" alt="{{title}}" />
  <div class="card-body nav flex flex-col">
    <a class="nav-link cursor-pointer">
      <h1 class="card-title" title="{{title}}">{{title}}</h1>
    </a>
    <p class="card-text">{{abstract}}</p>
  </div>
  <footer class="card-footer min-h-8"></footer>
</div>