<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <base href="{{client}}" env="{{env}}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/anvil/main.css" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>Foo injected</title>
  <script type="module">
    await import(`/anvil/use.js`);

    const query = {{ query }};
    console.log('query:', query)

    use.sources.add('assets', async ({ options, owner, path }) => {
      return await import(`${origin}/_/theme${path.path}`);
    });

    const { component } = await use('@/rollo/');
    const { server } = await use("@/server");
    // Register frame component
    await use('@/frame/');


    use('/echo').then(({ echo }) => {
      console.log('Result from /echo:', echo('ECHO'));
    });

    use('@/echo').then(({ echo }) => {
      console.log('Result from @/echo:', echo('ECHO'));
    });

    use('assets/echo').then(({ echo }) => {
      console.log('Result from assets/echo:echo:', echo('ECHO'));
    });

    use('assets/echo').then(({ ping }) => {
      console.log('Result from assets/echo:ping:', ping());
    });

    use('assets/echo').then(({ ping }) => {
      console.log('Result from assets/echo:ping:', ping());
    });

    server.echo(
      //{ test: true },
      { foo: "FOO", things: [{ a: 1 }, { b: 2 }] },
      { first: 'FIRST' }
      10,
      20,
      30,
      { last: 'LAST' }).then(({ response, result, meta }) => {
        console.log('Result from server.echo:', result);
      });



  </script>
</head>

<body>
  <app-component>
    <frame-component>
      <img slot="home" src="favicon.svg" />
      <main class="m-3">
        <h1>Foo</h1>
        <h2 class="fs-3 text-danger">Injected</h2>
      </main>
    </frame-component>
  </app-component>
</body>

</html>