<style name="sheet">
  [foo] {
    color: pink !important;
  }
</style>

<template name="template">
  <h1 class="foo">From '/test/foo.x.template'</h1>
</template>

<script type="module">
  export default async function () {
    const { Sheet, scope } = await owner.get("@/sheet.js");
    const { component, factory } = await use("@/component.js");

    //console.log('this:', this)

    const result = (...args) => {
      const element = component.div({ innerHTML: this.template });
      element.attribute.foo = true;

      const sheet = Sheet.create(`
      ${scope(element)} {
        ${this.sheet.text}
      }`);

      element.on._connect = (event) => sheet.use();
      element.on._disconnect = (event) => sheet.unuse();

      return factory(element)(...args);
    };

    return result;
  }
</script>
