.post {
  :is(h1, h2, h3, h4, h5, h6) {
    color: var(--bs-link-color);
  }

  a:hover {
    text-decoration: underline;
  }

  p:has(> img) {
    display: flex;
    justify-content: center;
  }

  img {
    min-width: 80%;
  }
}

@media (width>=768px) {
  .post a {
    font-size: 1.125rem;
  }
}
