/** Page */
[page]:has([blog-items]) {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

}


/** Paginator */
[page]:has([blog-items]) [paginator] {
  display: flex;
  justify-content: end;
  column-gap: 1rem;
  padding-right: 1rem;
}

/* Items */
[blog-items] {
  --gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap);
  row-gap: var(--gap);
}

/** Item card */
[blog-item] .card-title {
  cursor: pointer;
}
[blog-item] .placeholder {
  aspect-ratio: 12/8;
}
[blog-item] .card-footer {
  min-height: 2rem;
}
/* Hide non-current */
[blog-item]:not([current]) {
  display: none;
}

/* Hide, if post not shown and another item shows post */
[blog-items]:has(.post:not(.d-none)) [blog-item]:not(:has(.post:not(.d-none))) {
  display: none;
}

/* Post */
[blog-item]:has(.post:not(.d-none)) {
  width: 100%;
}
[blog-item] .post {
  width: 100%;
}

/* Item: Two columns in md */
@media (width >= 768px) {
  [blog-item] {
    width: calc(50% - var(--gap));
  }
}
