#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-body-bg);
  /**/
  /*border: 2px solid orange;*/
}

header {
  --gap: 0.375rem;
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  background-color: var(--bs-primary);
  padding: var(--gap) 1rem;
}

header button {
  display: flex;
  background-color: transparent;
  border: none;
}

header button svg {
  --size: 2.4rem;
  width: var(--size);
  height: var(--size);
  fill: var(--bs-light);
}

header button:hover svg {
  fill: var(--bs-gray-300);
}

section:has(> slot[name="top"]) {
  margin-left: auto;
}

section._main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

section._side {
  position: absolute;
  top: 0;
  bottom: 0;
  width: min(var(--width), 100%);
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform var(--time) var(--easing);
  background-color: var(--bs-body-bg);
  opacity: 0.99;
  padding: 0.5rem 0;
  border-right: 1px solid var(--bs-border-color-translucent);
  z-index: 100;
  overflow-y: auto;
  /**/
  /*border: 4px solid var(--bs-danger);*/
}

:host(._close) section._side {
  transform: translateX(-100%);
}

/* Close button */
section._side button {
  align-self: flex-end;
  justify-self: center;
  display: flex;
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  margin-right: 0.25rem;
}
section._side button svg {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  fill: var(--bs-light);/*color instead?*/
}
section._side button:hover svg {
  fill: var(--bs-gray-500);
}

main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  background-color: transparent;
  /**/
  /*border: 4px solid var(--bs-success);*/
}

footer {
  min-height: 100px;
  display: flex;
  padding: 0.375rem 1rem;
  background-color: var(--bs-light-bg-subtle);
  border-top: 1px solid var(--bs-border-color-translucent);
  margin-top: auto !important;
}

/* Push-style side action. */
:host(._md) section._main {
  flex-direction: row;
}
:host(._md) section._side {
  position: static;
}
:host(._md) main {
  transition: margin-left var(--time) var(--easing);
}
:host(._md._close) main {
  margin-left: calc(-1 * min(var(--width), 100%));
}
