.bar {
  border: 2px solid green !important;
}

button.bar {
  padding: 32px;
}

@media (width >= 600px) {
  button.bar {
    margin: 32px;
  }
}

/*
@keyframes slide-in {
  0% {
    translate: 150vw 0;
    scale: 200% 1;
  }

  100% {
    translate: 0 0;
    scale: 100% 1;
  }
}
  */
