@import "tailwindcss";

form[web-component] {
  width: 100%;
}

form[web-component] input-component {
}

input-component {
  width: 100%;
}

/* Change Bootstrap default placement of label in high-position. */
input-component:not(:has(input:placeholder-shown)) label,
input-component:has(input:placeholder-shown:focus) label {
  top: -2px !important;
}

input-component .form-text {
  padding-left: 0.75rem;
}

input-component:has(input.is-invalid) .form-text {
  color: var(--bs-form-invalid-color);
}
