/* Generic plotly sheet for dark mode.
NOTE Requires reboot or Bootstrap. */

/* Space around mode bar */
:is(plotly-component, [plotly-component]) .modebar-container {
  top: 8px !important;
  right: 8px !important;
}

/* Colors */
:is(plotly-component, [plotly-component]) .main-svg,
:is(plotly-component, [plotly-component]) .modebar-group {
  background-color: transparent !important;
}
:is(plotly-component, [plotly-component]) .legend .bg {
  fill: transparent !important;
}
:is(plotly-component, [plotly-component]) .modebar button svg path {
  fill: var(--bs-gray-600) !important;
}
:is(plotly-component, [plotly-component]) .modebar:hover button svg path {
  fill: var(--bs-light) !important;
}
