@import "tailwindcss";



.modal .modal-header {
  border-bottom: none;
}

.modal .modal-footer {
  border-top: none;
  column-gap: 0.5rem;
}

.modal h1.modal-title {
 font-size: 2rem;
 font-weight: 400;
}

