<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <base href="{{client}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/anvil/main.css" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>Foo</title>
  <style>
    h1 {
      color: var(--bs-success);
    }
  </style>
  <script type="module">
    // Get import engine
    const { default: use } = await import(`/anvil/use.js`);
    // Get app component
    const app = document.getElementById('app');
    // Register and get frame component
    await use('@/frame/');
    const frame = document.getElementById('frame');
    //console.log('meta', use.meta); ////
    // Get parcels
    const { component, is, mixup, typeName } = await use('@/rollo/');
    const { server } = await use("@/server");
    // Get query ('test' item excluded)
    const query = {{ query }};
    console.log('query:', query); ////
    // Get meta from server
    const meta = {{ meta }};
    console.log('meta:', meta); ////

    // Add 'assets' source to import engine
    await(async () => {
      const cache = {}; // For tests
      use.sources.add('assets', async ({ options, owner, path }) => {
        const { test } = options;
        if (use.meta.DEV && test) {
          if (path.path in cache) {
            return cache[path.path];
          }
          const response = await fetch(`${origin}/_/api/_assets?path=${path.path}`);
          if (response.ok) {
            const text = await response.text();
            console.warn(`Using injected '${path.full}'.`);
            cache[path.path] = text;
            return text;
          } else {
            console.warn(`Not using injected '${path.full}'.`);
            return await import(`${origin}/_/theme${path.path}`);
          }
        }
        return await import(`${origin}/_/theme${path.path}`);
      });
    })();

    // Import "local main" and run setup
    const { default: setup } = await use('assets/foo/foo.js', { test: true });
    await setup();


    server.echo(
      { 
        //test: true,
      },
      {},
      "ECHO"
    )
      .then(async ({ result, meta }) => {
        console.log('Result:', result);////
        console.log('Meta:', meta);////




      });












    server.media(
      { test: true },
      { name: "handle" },
    )
      .then(async ({ result, meta }) => {
        console.log('Result from server.media:', result);////
        console.log('Meta from server.media:', meta);////

        const image = component.img();

        image.onConnect(function () {
          this.src = URL.createObjectURL(result);
        });

        image.onDisconnect(function () {
          URL.revokeObjectURL(this.src);
        });

        image.parent = frame

      });
  </script>
</head>

<body>
  <app-component>
    <frame-component>
      <img slot="home" src="favicon.svg" />
      <main class="container mt-3">
        <h1>Foo</h1>
        <h2 class="fs-3 text-danger">Injected</h2>
      </main>
    </frame-component>
  </app-component>
</body>

</html>